<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coofee Shop</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 font-sans">

<header class="bg-blue-500 text-white py-4">
    <div class="container mx-auto px-4 flex justify-between items-center">
        <h1 class="text-2xl font-bold">Coffe Shop V1.0</h1>
        <div>
            {% if user.is_authenticated %}
                <div class="flex items-center">
                    <span class="mr-4">Hola amigo, {{ user.username }}</span>
                    <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="inline-block rounded-sm border border-indigo-600 px-4 py-2 text-sm font-medium text-indigo-600 hover:bg-indigo-600 hover:text-white focus:ring-2 focus:ring-indigo-500 focus:outline-none">Logout</button>
                    </form>
                </div>
            {% else %}
                <a href="{% url 'login' %}" class="inline-block rounded-sm border border-green-600 px-4 py-2 text-sm font-medium text-green-600 hover:bg-green-600 hover:text-white focus:ring-2 focus:ring-green-500 focus:outline-none">Login</a>
            {% endif %}
            <a 
                href="{% url 'my_order' %}" 
                class="text-white bg-indigo-700 hover:bg-indigo-800 focus:ring-4 focus:ring-indigo-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 dark:bg-indigo-600 dark:hover:bg-indigo-700 focus:outline-none dark:focus:ring-indigo-800"
            >
            Mi Pedido
            </a>
        </div>
    </div>
</header>

    <div class="container mx-auto py-8 px-4 grid grid-cols-1 md:grid-cols-3 gap-8">
        <main class="md:col-span-2">
        {% block content %}

        {% endblock content %}

        </main>

        <aside class="bg-white p-6 rounded-md shadow-md">
            <h2 class="text-lg font-semibold mb-4">Artículo Destacado</h2>
            <article>
                <h3 class="text-md font-semibold mb-2">Título del Artículo</h3>
                <p class="text-gray-600">Este es un artículo que se muestra en la barra lateral derecha. Puedes usarlo para destacar noticias, promociones o información relevante.</p>
                <a href="#" class="text-blue-500 hover:underline mt-2 inline-block">Leer más</a>
            </article>
        </aside>
    </div>

    <footer class="bg-gray-300 text-gray-700 py-4 mt-8">
        <div class="container mx-auto px-4 text-center">
            <p>&copy; 2025 Mi Sitio Web. Todos los derechos reservados.</p>
        </div>
    </footer>
</body>
</html>