files:
  /etc/nginx/conf.d/02_proxy_timeouts.conf:
    mode: "0644"
    owner: root
    group: root
    content: |
      http {
        server {
          location / {
            proxy_connect_timeout 5s;
            proxy_send_timeout 300s;
            proxy_read_timeout 300s;
          }
        }
      }